# Compiled object files
*.o

# Yacc + Lex output
lex.yy.c 
y.tab.c
y.tab.h
mcc
y.output

# Compiler output
.asm

# Executables
*.exe
*.out

# macOS specific files
.DS_Store

# Visual Studio Code specific files
.vscode/

# Build directories
build/
bin/
